body {
    background: #82B5CB;
    font-family: 'Outfit', sans-serif;
}

.search-button {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: #d18884;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 50px;
    margin: 5px;
}

.search-button:hover {
    background-color: #c2858c;
    cursor: pointer;
}

#search-form {
    font-family: 'Outfit', sans-serif;
    border: solid 4px;
    border-radius: 50px;
    color: #D29F9C;
    background-color: #FFE9E9;
    display: flex;
    padding: 0 1px 0 1px;
}

.search-input {
    border: solid 3px;
    color: #D29F9C;
    background-color: #FFE9E9;
    font-size: 16px;
    padding: 20px;
    border-radius: 50px;
    outline: 0;
}

.search-form .search-input {
    border: 0;
    flex-grow: 1;
}

h1 {
    color: white;
}