body {
    background: #82B5CB;
    display: grid;
}

.weather-app {
    background: #82B5CB;
    font-family: 'Outfit', sans-serif;
    border: solid #f3f6f8 15px;
    border-radius: 30px;
    padding: 25px;
    margin: 3rem 1.5rem ;
    box-shadow: 14px 14px #1c2120;
    display: grid;
}

.search-button {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    background-color: #d18884;
    color: #FFFFFF;
    border: none;
    padding: 1.25rem;
    line-height: 1;
    border-radius: 3rem;
    margin: 0.3rem;
}

.search-button:hover {
    background-color: #c2858c;
    cursor: pointer;
}

#search-form {
    font-family: 'Outfit', sans-serif;
    border: solid 0.25rem;
    border-radius: 3rem;
    color: #D29F9C;
    background-color: #FFE9E9;
    display: flex;
    padding: 0 1px 0 1px;
}

.search-input {
    border: solid 0.2rem;
    color: #D29F9C;
    background-color: #FFE9E9;
    font-size: 1rem;
    padding: 1.25rem;
    border-radius: 3rem;
    outline: 0;
}

.search-form .search-input {
    border: 0;
    flex-grow: 1;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-left: 0.5rem;
}

h2 {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 10px;
    margin-left: 0.5rem;
    font-weight: 500;
}

h3 {
    color: white;
    font-size: 4rem;
    margin: 5rem 0.5rem;
}

h4 {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    align-items: center;
    padding: 0;
    color: #f3f6f8;
    font-size: larger;
}

p {
    color: #f3f6f8;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

a {
    color: #9f4755;
    text-decoration: none;
}